.grid {
  display: grid;
  width: 180px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  background: black;
}
.small-letter {
  font-size: 1rem;
}
.remove-rows {
  flex-direction: column;
  gap: 30px;
}
#root,
html,
body {
  height: 100%;
}
.height {
  height: 100%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.grid div {
  background: white;
  /* border: 5px solid black; */
}
